@media (max-width: 1400px)
    .container
        max-width: 1180px
    .header
        &-mail
            font-size: 18px
        &-tel
            font-size: 18px
        &-button
            font-size: 18px
        &__link
            width: 30px
            height: 30px
    .submenu
        &-wrapper
            max-width: 1180px
        &-title
            max-width: 469px
            font-size: 35px
        &-discription
            max-width: 469px
            font-size: 20px
    .author
        &-text
            max-width: 549px
            padding-top: 200px
            padding-bottom: 200px
        &-name
            font-size: 38px
        &-discription
            font-size: 28px
        &-circle
            width: 437px
            height: 437px
        &-image
            width: 409px
            height: 409px
    .about
        &-image
            width: 315px
        &-programm
        &-title
            font-size: 30px
            line-height: .8
        &-discription
            font-size: 20px
            &:nth-of-type(1)
                margin-top: 25px
            &:nth-of-type(2)
                margin-top: 15px
                margin-bottom: 15px
    .programm
        &-wrapper
            padding-top: 50px
        &-details
            max-width: 590px
        &-icon
            width: 80px
            height: 80px
        &-text
            font-size: 25px
    .price
        &-title
            font-size: 38px
        &-line
            height: 6px
            border-radius: 3px
        &-info
            height: 190px
            &__title
                font-size: 32px
            &__discription
                font-size: 32px
                line-height: 39px
        &-number
            font-size: 130px
    sup
        font-size: 80px
    .gallary
        margin-bottom: 50px
        &-picture
            margin-bottom: 11px
    .footer
        &-mail
            font-size: 18px
        &-tel
            font-size: 18px
@media (max-width: 1200px)
    .container
        max-width: 960px
    .header
        &-mail
            font-size: 14px
        &-tel
            font-size: 14px
        &-button
            font-size: 14px
        &__social
            &-link
                min-width: 295px
    .menu
        &-ul
            &__link
                font-size: 14px
    .submenu
        &-wrapper
            max-width: 960px
        &-image
            width: 715px
        &-logo
            left: 304px
            width: 148px
    .active
        left: 294px
        &-tag
            font-size: 35px
    .author
        &-text
            padding-top: 120px
            padding-bottom: 120px
    .programm
        &-details
            max-width: 459px
    .price
        &-number
            font-size: 100px
        &-text
            max-width: 511px
        &-line
            width: 100%
        &-info
            &:nth-of-type(2)
                margin-bottom: 50px

    sup
        font-size: 70px
    .gallary
        &-picture
            width: 313px
            height: 313px
    .footer
        &-logo
            width: 165px
        &-mail
            font-size: 14px
        &-tel
            font-size: 14px
@media (max-width: 992px)
    .container, .submenu-wrapper
        max-width: 700px
    .header
        &-button
            font-size: 10px
            padding: 4px 11px
        &__social
            &-link
                min-width: 253px
    .menu
        &-ul
            padding-bottom: 338px
            &__item
                display: none
    .submenu
        // min-height: 200px
        &-image
            width: 600px
        &-logo
            left: 259px
            bottom: 325px
            width: 120px
        &-title
            max-width: 321px
            font-size: 24px
            padding-top: 66px
        &-discription
            min-width: 321px
            font-size: 14px
    .active
        left: 243px
    .author
        &-name
            font-size: 24px
        &-text
            padding-top: 105px
            padding-bottom: 105px
        &-discription
            max-width: 340px
            font-size: 18px
            line-height: 140%
        &-circle
            width: 300px
            height: 300px
        &-image
            width: 284px
            height: 284px
    .about
        &-image
            width: 194px
            height: 189px
        &-title
            font-family: Roboto
            font-style: normal
            font-weight: 900
            font-size: 24px
            line-height: 150%
        &-discription
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 27px
        &-programm
            max-width: 408px
    .programm
        &-icon
            width: 60px
            height: 60px
        &-text
            font-size: 18px
        &-details
            max-width: 340px
        &-wrapper
            padding-bottom: 0
    .price
        &-title
            font-family: Roboto
            font-style: normal
            font-weight: 900
            font-size: 24px
            line-height: 150%
        &-line
            height: 3px
            border-radius: 1px
        &-number
            font-family: Roboto
            font-style: normal
            font-weight: 900
            font-size: 80px
            line-height: 150%
        &-info
            &__title
                font-family: Roboto
                font-style: normal
                font-weight: 900
                font-size: 22px
                line-height: 150%
            &__discription
                font-family: Roboto
                font-style: normal
                font-weight: 500
                font-size: 22px
                line-height: 26px
        &-text
            max-width: 360px
    sup
        font-family: Roboto
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 150%
    .gallary
        &-picture
            width: 220px
            height: 220px
            margin-bottom: 20px
    .contact
        &-title
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 14px
            line-height: 16px
        &-form
            max-width: 318px
        &-massage
            padding: 20px 19px
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 14px
        &-button
            margin-left: 40px
    .input
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 14px
        width: 100%
        height: 36px
        padding: 0 18px
    .footer
        &-logo
            width: 100px
            &__image
                width: 100px
