@media (max-width: 1400px)
    .container
        max-width: 1180px
    .header
        &-mail
            font-size: 18px
        &-tel
            font-size: 18px
        &-button
            font-size: 18px
        &__link
            width: 30px
            height: 30px
    .submenu
        &-wrapper
            max-width: 1180px
        &-title
            max-width: 469px
            font-size: 35px
        &-discription
            max-width: 469px
            font-size: 20px
    .author
        &-text
            max-width: 549px
            padding-top: 200px
            padding-bottom: 200px
        &-name
            font-size: 38px
        &-discription
            font-size: 28px
        &-circle
            width: 437px
            height: 437px
        &-image
            width: 409px
            height: 409px
    .about
        &-image
            width: 315px
        &-programm
        &-title
            font-size: 30px
            line-height: .8
        &-discription
            font-size: 20px
            &:nth-of-type(1)
                margin-top: 25px
            &:nth-of-type(2)
                margin-top: 15px
                margin-bottom: 15px
    .programm
        &-wrapper
            padding-top: 50px
        &-details
            max-width: 590px
        &-icon
            width: 80px
            height: 80px
        &-text
            font-size: 25px
    .price
        &-title
            font-size: 38px
        &-line
            height: 6px
            border-radius: 3px
        &-info
            height: 190px
            &__title
                font-size: 32px
            &__discription
                font-size: 32px
                line-height: 39px
        &-number
            font-size: 130px
    sup
        font-size: 80px
    .gallary
        margin-bottom: 50px
        &-picture
            margin-bottom: 11px
    .footer
        &-mail
            font-size: 18px
        &-tel
            font-size: 18px
@media (max-width: 1200px)
    .container
        max-width: 960px
    .header
        &-mail
            font-size: 14px
        &-tel
            font-size: 14px
        &-button
            font-size: 14px
        &__social
            &-link
                min-width: 295px
        &-menu
            &__link
                font-size: 14px
    .navbar
        &-link
            font-size: 16px
    .submenu
        &-wrapper
            max-width: 960px
        &-image
            width: 715px
        &-logo
            left: 304px
            width: 148px
    .active
        left: 294px
        &-tag
            font-size: 35px
    .author
        &-text
            padding-top: 120px
            padding-bottom: 120px
    .programm
        &-details
            max-width: 459px
    .price
        &-number
            font-size: 100px
        &-text
            max-width: 511px
        &-line
            width: 100%
        &-info
            &:nth-of-type(2)
                margin-bottom: 50px
    sup
        font-size: 70px
    .gallary
        &-picture
            width: 313px
            height: 313px
    .footer
        &-logo
            width: 165px
        &-mail
            font-size: 14px
        &-tel
            font-size: 14px
@media (max-width: 992px)
    .container, .submenu-wrapper
        max-width: 760px
    .header
        &-button
            font-size: 10px
            padding: 4px 11px
            margin-right: auto
        &-mail
            margin-right: auto
        &-tel
            margin-right: auto
        &-menu
            display: none
        &-line
    .navbar
        &-button
            display: none
    .menu
        &-button
            position: fixed
            right: 0
            top: 73px
            margin: 0
            padding: 0
            width: 60px
            height: 40px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-around
            border: none
            background-color: $text-color
            z-index: 99
            &__line
                width: 40px
                height: 2px
                background-color: $light
    .active
        left: 243px
    .author
        &-name
            font-size: 24px
        &-text
            padding-top: 105px
            padding-bottom: 105px
        &-discription
            max-width: 340px
            font-size: 18px
            line-height: 140%
        &-circle
            width: 300px
            height: 300px
        &-image
            width: 284px
            height: 284px
    .about
        &-image
            width: 194px
            height: 189px
        &-title
            font-family: Roboto
            font-style: normal
            font-weight: 900
            font-size: 24px
            line-height: 150%
        &-discription
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 27px
        &-programm
            max-width: 408px
    .programm
        &-icon
            width: 60px
            height: 60px
        &-text
            font-size: 18px
        &-details
            max-width: 340px
        &-wrapper
            padding-bottom: 0
    .price
        &-title
            font-family: Roboto
            font-style: normal
            font-weight: 900
            font-size: 24px
            line-height: 150%
        &-line
            height: 3px
            border-radius: 1px
        &-number
            font-family: Roboto
            font-style: normal
            font-weight: 900
            font-size: 80px
            line-height: 150%
        &-info
            &__title
                font-family: Roboto
                font-style: normal
                font-weight: 900
                font-size: 22px
                line-height: 150%
            &__discription
                font-family: Roboto
                font-style: normal
                font-weight: 500
                font-size: 22px
                line-height: 26px
        &-text
            max-width: 360px
    sup
        font-family: Roboto
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 150%
    .gallary
        &-picture
            width: 220px
            height: 220px
            margin-bottom: 20px
    .contact
        &-title
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 14px
            line-height: 16px
        &-form
            max-width: 318px
        &-massage
            padding: 20px 19px
            font-family: Roboto
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 14px
        &-button
            margin-left: 40px
    .input
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 14px
        width: 100%
        height: 36px
        padding: 0 18px
    .footer
        &-logo
            width: 100px
            &__image
                width: 100px
@media (max-width: 876px)
    .submenu
        min-height: 211px
        &-image
            max-width: 530px
        &-logo
            left: 220px
            bottom: 271px
    .active
        left: 204px
        bottom: 88px
@media (max-width: 768px)
    .container
        max-width: 700px
        width: 92%
    .header
        &-menu
            display: none
        &__social
            &-link
                min-width: 253px
        // &-btn
        //     display: flex
        //     flex-direction: column
        //     align-items: center
        //     justify-content: space-between
        //     width: 40px
        //     height: 26px
        //     border: none
        //     background-color: $light
            &__menu
                &-btn
                    display: flex
            &__line
                width: 40px
                height: 2px
                background-color: $black
                border: none
@media (max-width: 732px)
    .header
        &__social-link
            min-width: 215px
    .submenu
        &-title
            max-width: 273px
            font-size: 18px
            margin-right: 26px
    .programm
        &-details
            max-width: 336px
        &-text
            margin-left: 20px
    .gallary
        &-picture
            margin-bottom: 7px
@media (max-width: 576px)
    .header
        &-mail
            display: none
            &__image
                margin-right: auto
            &__icon
                display: flex
                width: 30px
                height: 30px
        &-tel
            display: none
            &__icon
                display: flex
                width: 30px
                height: 30px
    .menu
        &-ul
            padding-bottom: 235px
    .header
        &-button
            padding: 0
            margin: 0
            display: none
            &__logo
                display: block
                width: 60px
                height: 60px
            &__line
                width: 30px
        &::before
            height: 194px
    .submenu
        min-height: 140px
        &-wrapper
            width: 97%
        &-image
            max-width: 375px
        &-title
            font-size: 18px
            padding-top: 30px
            margin-right: 0
        &-discription
            font-size: 12px
            padding-bottom: 0
            min-width: auto
        &-logo
            width: 78px
            left: 158px
            bottom: 200px
    .active
        left: 151px
        bottom: 42px
        &-tag
            font-size: 22px
            line-height: 31px
        &-text
            font-size: 20px
            line-height: 31px
        &-line
            height: 2px
    .author
        &-text
            width: 100%
            padding-top: 20px
            padding-bottom: 20px
        &-wrapper
            flex-wrap: wrap
        &-name
            padding-bottom: 10px
        &-discription
            max-width: 100%
            text-align: justify
        &-avatar
            margin: auto
            margin-bottom: 20px
        &-circle
            width: 250px
            height: 250px
        &-image
            width: 240px
            height: 240px
    .about
        &-wrapper
            flex-wrap: wrap
            padding-top: 20px
            padding-bottom: 20px
        &-image
            margin: auto
        &-programm
            max-width: 100%
        &-discription
            line-height: 22px
            &:nth-of-type(1)
                margin-top: 10px
            &:nth-of-type(2)
                margin-top: 10px
                margin-bottom: 10px
    .programm
        &-wrapper
            padding-top: 20px
        &-icon
            width: 65px
            height: 65px
        &-details
            max-width: 100%
            margin-bottom: 20px
        &-text
            margin-left: 50px
            text-align: justify
    .price
        &-package
            padding-top: 20px
        &-number
            font-size: 60px
        &-text
            max-width: 300px
        &-info
            height: 155px
            &:nth-of-type(2)
                margin-top: 20px
                margin-bottom: 20px
    sup
        font-size: 40px
    .gallary
        &-photo
            margin-top: 20px
        &-picture
            width: 260px
            height: 260px
            margin-bottom: 8px
    .contact
        padding-top: 20px
        padding-bottom: 20px
        background-position: center
        &-form
            max-width: 265px
            padding: 23px 20px 0 20px
        &-title
            line-height: 3px
            padding-bottom: 18px
        &-massage
            min-height: 69px
        &-button
            margin-left: 22px
            margin-bottom: 10px
            margin-top: 10px
    .input
        margin-bottom: 10px
    .footer
        &-logo
            display: none
        &-info
            display: none
        &-mail
            &__icon
                display: flex
                width: 30px
                height: 30px
        &-tel
            &__image
                display: flex
                width: 30px
                height: 30px
@media (max-width: 320px)
    .container
        width: 92%
    .header
        &-mail
            &__icon
                width: 20px
                height: 20px
        &-tel
            &__icon
                width: 20px
                height: 20px
        &-button
            display: none
            &__logo
                display: flex
                width: 30px
                height: 25px
        &__social
            &-link
                min-width: 137px
        &__link
            width: 20px
            height: 20px
    .menu
        &-ul
            padding-bottom: 32px
    .header
        &-button
            width: 27px
            height: 20px
            &__line
                width: 27px
    .submenu
        min-height: 82px
        &-image
            max-width: 160px
        &-title
            font-size: 14px
            max-width: 188px
            padding-top: 7px
            padding-bottom: 7px
            line-height: 110%
        &-discription
            max-width: 167px
            line-height: 110%
        &-logo
            width: 40px
            left: 65px
            bottom: 90px
    .active
        left: 61px
        bottom: -15px
        &-tag
            font-size: 10px
            line-height: 17px
        &-line
            margin: auto
            width: 42px
        &-text
            font-size: 10px
            line-height: 20px
    .author
        &-text
            padding-top: 5px
            padding-bottom: 5px
        &-name
            padding-bottom: 5px
            text-align: center
            font-size: 14px
        &-discription
            font-size: 12px
        &-avatar
            margin-bottom: 5px
        &-circle
            width: 215px
            height: 215px
        &-image
            width: 208px
            height: 208px
    .about
        &-wrapper
            padding-top: 5px
            padding-bottom: 5px
        &-image
            width: 145px
            height: 139px
        &-title
            font-size: 14px
            text-align: center
        &-discription
            line-height: 15px
            font-size: 12px
    .programm
        &-wrapper
            padding-top: 5px
        &-icon
            width: 30px
            height: 30px
        &-text
            font-size: 12px
            margin-left: 14px
    .price
        &-title
            font-size: 14px
            padding-bottom: 5px
        &-info
            height: 88px
            border-radius: 20px
            &__title
                font-size: 12px
            &__discription
                font-size: 12px
                line-height: 14px
        &-text
            width: 155px
        &-number
            font-size: 40px
    sup
        font-size: 20px
    .gallary
        &-picture
            width: 100%
            height: 100%
            margin-bottom: 5px
    .contact
        &-form
            max-width: 211px
            padding: 15px 12px 0 12px
        &-massage
            font-size: 10px
        &-button
            padding: 0
            font-size: 12px
            min-width: 145px
            min-height: 37px
    .input
        font-size: 10px
    .to-top
        dn
