@media (max-width: 1200px)
    .container
        max-width: 960px
    .header
        &-mail
            font-size: 18px
        &-tel
            font-size: 18px
            margin-left: auto
        &-button
            font-size: 18px
            margin-right: auto
            margin-left: auto
        &__social
            &-link
                width: auto
                min-width: 239px
        &__link
            width: 30px
            height: 30px
    .navbar
        &-link
            font-size: 16px
    .section
        &-bg
            min-height: 460px
            &:before
                height: 300px
        &-text
            min-height: 176px
        &-photo
            max-width: 457px
        &-title
            font-size: 30px
            line-height: 130%
        &-discription
            font-size: 20px
            line-height: 130%
        &-wrapper
            width: auto
            min-height: 176px
        &-inner
            max-width: 402px
    .author
        &-name
            font-size: 30px
        &-discription
            font-size: 20px
        &-circle
            width: 387px
            height: 387px
        &-image
            width: 367px
            height: 367px
        &-wrapper
            padding-top: 20px
            padding-bottom: 20px
        &-text
            padding: 0
    .about
        &-wrapper
            padding-top: 20px
            padding-bottom: 20px
        &-title
            font-size: 30px
        &-discription
            font-size: 20px
            &:nth-of-type(1)
                margin-top: 10px
            &:nth-of-type(2)
                margin-top: 10px
                margin-bottom: 10px
        &-image
            width: 285px
    .programm
        &-wrapper
            padding-top: 20px
            padding-bottom: 20px
        &-details
            max-width: 415px
        &-icon
            width: 50px
            height: 50px
        &-text
            font-size: 20px
            margin-left: 16px
    .price
        &-title
            font-size: 30px
            padding-bottom: 10px
        &-line
            width: auto
            height: 5px
            border-radius: 2px
        &-number
            font-size: 70px
        &-info
            height: 150px
            &:nth-of-type(2)
                margin-bottom: 30px
            &__title
                font-size: 30px
            &__discription
                font-size: 20px
                line-height: 26px
        &-text
            max-width: 323px
    sup
        font-size: 50px
    .gallary
        margin-bottom: 20px
        &-photo
            margin-top: 30px
        &-picture
            max-width: 310px
            margin-bottom: 15px
    .footer
        &__social
            &-link
                width: auto
                min-width: 239px
        &-button
            font-size: 18px
            margin-right: auto
            margin-left: auto
        &-info
            margin-left: auto
        &-mail
            font-size: 18px
        &-tel
            font-size: 18px
            margin-left: auto
        &__link
            width: 30px
            height: 30px
        &-logo
            &__image
                width: 125px
@media (max-width: 992px)
    .container
        max-width: 760px
        width: 92%
    .header
        position: fixed
        top: 0
        z-index: 99
        &-mail
            font-size: 14px
        &-tel
            font-size: 14px
        &-button
            font-size: 14px
            padding: 7px 14px
        &__social
            &-link
                min-width: 200px
    .navbar
        &-button
            display: none
            &--visible
                display: block
                position: fixed
                left: 0
                top: 78px
                right: 0
                bottom: 0
                padding-top: 80px
                background: rgba(59, 85, 222, 0.7)
                text-align: center
        &-item
            margin-bottom: 10px
    .menu
        &-button
            position: fixed
            right: 0
            top: 79px
            margin: 0
            padding: 0
            width: 60px
            height: 40px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-around
            border: 1px solid $light
            background-color: transparent
            z-index: 99
            &__line
                width: 40px
                height: 2px
                background-color: $black
    .section
        &-inner
            max-width: 323px
        &-title
            font-size: 20px
            text-align: left
        &-discription
            font-size: 14px
    .programm
        &-details
            max-width: 341px
    .gallary
        &-picture
            max-width: 375px
            margin-bottom: 10px
    .footer
        &-mail
            font-size: 14px
        &-tel
            font-size: 14px
        &-button
            font-size: 14px
            padding: 7px 14px
        &__social
            &-link
                min-width: 200px
@media (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    .header
        &-button
            display: none
            &__logo
                display: block
                width: 30px
                height: 30px
                margin-left: auto
                margin-right: auto
    .navbar
        &-button
            &--visible
                top: 72px
    .section
        &-bg
            min-height: 231px
            &:before
                height: 150px
        &-text
            min-height: 116px
        &-photo
            max-width: 267px
        &-wrapper
            min-height: 116px
        &-inner
            max-width: 273px
        &-title
            text-align: center
    .gallary
        &-picture
            max-width: 348px
    .author
        &-wrapper
            flex-wrap: wrap
        &-text
            margin-bottom: 10px
            text-align: center
        &-name
            padding: 0
            width: 100%
        &-avatar
            margin: auto
            width: 300px
            height: 300px
        &-circle
            width: 100%
            height: 100%
        &-image
            width: 290px
            height: 290px
    .about
        &-image
            width: 225px
        &-discription
            line-height: 24px
    .programm
        &-wrapper
            justify-content: center
    .gallary
        &-picture
            max-width: 283px
    .footer
        &-button
            display: none
        &-info
            margin-right: auto
@media (max-width: 576px)
    .container
        max-width: 576px
        width: 92%
    .header
        &-mail
            display: none
            &__icon
                display: block
                width: 30px
                height: 30px
        &-tel
            display: none
            &__icon
                display: block
                width: 30px
                height: 30px
                margin-left: auto
    .navbar
        &-button
            &--visible
                top: 70px
    .section
        &-inner
            max-width: 188px
        &-title
            font-size: 14px
        &-discription
            font-size: 10px
    .author
        &-name
            font-size: 22px
        &-discription
            font-size: 12px
        &-avatar
            width: 250px
            height: 250px
        &-image
            width: 240px
            height: 240px
    .gallary
        &-picture
            max-width: 260px
    .about
        &-wrapper
            flex-wrap: wrap
            margin: auto
        &-image
            width: 160px
            margin: auto
        &-title
            font-size: 22px
        &-discription
            font-size: 12px
            max-width: 260px
            line-height: 17px
            &:nth-of-type(2)
                margin-top: 5px
                margin-bottom: 5px
    .price
        &-title
            font-size: 22px
        &-line
            height: 3px
        &-package
            padding-top: 30px
        &-number
            font-size: 50px
            min-width: 135px
            margin-right: auto
            margin-left: auto
        &-text
            margin-left: 5px
        &-info
            height: 130px
            &__title
                font-size: 22px
            &__discription
                font-size: 18px
                line-height: 21px
    sup
        font-size: 30px
    .contact
        &-title
            font-size: 14px
            padding-bottom: 0
        &-form
            max-width: 316px
            padding: 10px 10px 0 10px
        &-massage
            min-height: 70px
            padding: 10px 20px
            margin-top: 10px
            font-size: 14px
        &-button
            font-size: 14px
    .input
        height: 40px
        padding: 0 20px
        margin-top: 10px
        font-size: 14px
    .footer
        &-logo
            display: none
        &-info
            display: none
        &-mail
            &__icon
                display: block
                width: 30px
                height: 30px
        &-tel
            &__icon
                display: block
                width: 30px
                height: 30px
            &__image
                display: block
        &-button
            &__logo
                display: block
                width: 30px
                height: 30px
@media (max-width: 460px)
    .section
        &-photo
            max-width: 177px
        &-bg
            min-height: 130px
            &::before
                max-height: 80px
        &-text
            min-height: 80px
        &-wrapper
            min-height: 80px
    .gallary
        &-picture
            max-width: 206px
@media (max-width: 368px)
    .section
        &-inner
            max-width: 148px
    .gallary
        &-picture
            max-width: 164px
@media (max-width: 320px)
    .container
        max-width: 92%
    .header
        &-mail
            &__icon
                width: 20px
                height: 20px
        &-tel
            &__icon
                width: 20px
                height: 20px
        &__social
            &-link
                min-width: 130px
        &__link
            width: 20px
            height: 20px
    .gallary
        &-picture
            max-width: 100%
    .footer
        &-mail
            &__icon
                width: 20px
                height: 20px
        &-tel
            &__icon
                width: 20px
                height: 20px
        &__social
            &-link
                min-width: 130px
        &__link
            width: 20px
            height: 20px
