.author
    background-color: $light
    &-text
        max-width: 596px
    &-name
        margin: 0
        font-family: Roboto
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 150%
        text-transform: uppercase
        color: $text-color
    &-discription
        margin: 0
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 34px
        line-height: 140%
        color: $text-color
