.header
    background-color: $black
    &-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 47px
        padding-bottom: 47px
    &-mail
        text-decoration: none
        font-family: Roboto
        font-style: normal
        font-weight: 900
        font-size: 27px
        line-height: 32px
        color: $light
    &-tel
        text-decoration: none
        font-family: Roboto
        font-style: normal
        font-weight: 900
        font-size: 27px
        line-height: 32px
        color: $light
    &-button
        text-decoration: none
        text-transform: uppercase
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 27px
        line-height: 32px
        color: $light
        padding: 9px 41px
        background-color: $button-header
        border-radius: 30px
    &__social-link
        width: 462px
        display: flex
        align-items: center
        justify-content: space-between
